doctype html
html
  head
    title
  body
    .container
      h1 send us photos of you enjoying cal.js

       form(method='post', enctype='multipart/form-data')
        input(type='file', name='image')
        input(type='submit', name='share your photo')
        //- input(type='', name='')





